In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("movies.csv").drop("movieId", axis=1)
df

                                    title
0                        Toy Story (1995)
1                          Jumanji (1995)
2                 Grumpier Old Men (1995)
3                Waiting to Exhale (1995)
4      Father of the Bride Part II (1995)
...                                   ...
62418                           We (2018)
62419           Window of the Soul (2001)
62420                    Bad Poems (2018)
62421                 A Girl Thing (2001)
62422      Women of Devil's Island (1962)

[62423 rows x 1 columns]

In [ ]:
df

In [12]:
df.to_json(r"D:\flask_react\movies_obj.json")